{# {{content}} #}

<select id="select2_search">
    <option value="all"> Select an option</option>    
</select>

<div id="example">example div</div>

<button onclick="myClickfunction()" class="btn btn-primary">Click Me</button>