.adminimal .content-header{
    background-color: #ffffff;
    padding: 1rem 0 1rem 0;
}
.menu .menu-item{
    list-style-type: none;
    text-decoration: none;
}
.messages.messages--error{
    display: none;
}
.layout-container{
    margin: 0 0;
}
.region-header{
    display: flex;
    justify-content: space-between;
}
.region-header .menu .menu-item a{
   color: #000000 !important;  
}


